/*------------------------------------ELEMENTS------------------------------*/
@font-face {
    font-family: "OpenSans-Light";
    src: url(../font/opensans/OpenSans-Light.eot),url(../font/opensans/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(../font/opensans/OpenSans-Regular.eot),url(../font/opensans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(../font/opensans/OpenSans-Bold.eot), url(../font/opensans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url(../font/opensans/OpenSans-Semibold.eot), url(../font/opensans/OpenSans-Semibold.ttf);
}

body,html{
	font-family: "OpenSans-Regular";
	font-size: 14px;
}

.section{
	width: 100% !important;
	position: relative;
}

.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	opacity: 0.75;
	filter: alpha(opacity=75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	z-index: 1;
	background-color: black;
}

.valign-bottom{
	display: table-cell;
	vertical-align: bottom;
}

.valign-center{
	display: table-cell;
	vertical-align: middle;
}

.d-table{
	display: table;
}

.uppercase{
	text-transform: uppercase !important;
}

.mx-auto{
	margin: auto !important;
	left: 0;
	right: 0;
	position: absolute;
}

.my-auto{
	margin: auto !important;
	top: 0;
	bottom: 0;
	position: absolute;
}

/*------------------------------------DETAIL------------------------------*/

.intro-bg{
	z-index: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(../image/bg1.jpg);
	background-size: cover;
}

.intro-slogan{
	position: relative;
	text-align: center;
	z-index: 2;
	color: #fff;
	bottom: -2em;
	padding-left: 2em;
	padding-right: 2em;
}

.intro-slogan > h3{
	line-height: 140%;
}

.intro-slogan button{
	margin-top: 3em;
	margin-bottom: 3em;
}

#introduction{
	height: calc(100vh - 1.5em);
	background-color: gray;
	padding-top: 5em;
	padding-left: 0;
	padding-right: 0;
}

#slideshow{
	padding-top: 7em;
	background-image: url(../image/bg2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: -12em;
}

div.slider{
	position: relative;
}

div.slider>img{
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.40);
	position: absolute;
	transition: all 0.7s ease-in-out;
}

.left{
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	opacity: 0.8;
	z-index: 0;
	transform-origin: left;
	transform: translate(0%, 0%) scale(0.6);
	/*animation: rotate12 1s forwards linear;*/
}
.centered{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	opacity: 1;
	transform-origin: left;
	transform: translate(10%, 0%) scale(0.8);
	/*animation: rotate23 1s forwards linear;*/
}
.right{
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	opacity: 0.8;
	z-index: 0;
	transform-origin: left;
	transform: translate(40%, 0%) scale(0.6);
	/*animation: rotate31 1s forwards linear;*/
}

.slider-button{
	margin-bottom: 1em;
}

.slider-content h3{
	font-family: "OpenSans-Semibold";
	color: #c4142b;
	word-wrap: break-word;
	width: calc(100% - 4em);
	display: table-cell;
	vertical-align: middle;
}
.slider-content img,.slider-content h3{
	text-align: left !important;
}
.slider-content h5{
	font-family: "OpenSans-Semibold";
	text-align: left;
	margin:0;
	padding: 1em;
	padding-left: 0;
	line-height: 180%;
}
.slider-content img{
	height: 3em;
	width: auto;
	margin-right: 1em;
	display: block;
}
.slc-title{
	height: 3em;
	display: table;
}

#slogan{
	height: 20em;
	overflow: hidden;
	margin-top: 4em;
}

#slogan h2,#slogan h3{
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	color: #fff;
	padding-left: 2em;
	padding-right: 2em;
	line-height: 140%;
}

.parallax-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url(../image/bg1.jpg);
	background-attachment: fixed;
	background-position:50% 50%;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}